* {
   margin: 0;
   padding: 0;
   border: 0;
   box-sizing: border-box; 
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: color #383737;
    transition: background 0.0s linear;
}

body.dark {
    background: #232c35 ;
}

body.dark #sobre {
    background: #232c35 ;
    color:  rgb(168, 166, 166); 
    
}

body.dark #projetos {
    background: #232c35 ;
    color: rgb(168, 166, 166);
}

#sobre {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
    margin-left: 25%;
}

#projetos {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
    margin-left: 25%;
}

#contatoS {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
    margin-left: 25%;
    background-color: #8a8888;
}

#hContato {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
    margin-left: 25%;
}

body.dark #contato {
    background: #232c35 ;
    color:  rgb(168, 166, 166);
    text-align: center;
}

body.dark #nome {
    background: #232c35 ;
}

body.dark #email {
    background: #232c35 ;
}

body.dark #mensagem {
    background: #232c35 ;
}

.checkbox {
    opacity: 0;
    position: absolute;
}

 /*Label da caixinha para trocar entre o dark e light theme */
.label {
   background-color: #3b3636;
   border-radius: 50px;
   cursor: pointer;
   display: flex;
   align-items: center; 
   justify-content: space-between;
   padding: 8px;
   position: relative;
   height: 10px;
   width: 60px;

   transform: scale(1.5);
}

/* Bolinha branca dentro do label*/
.label .ball {
   background-color: #ffffff;
   border-radius: 50%; 
   position: absolute;
   top: 1px;
   left: 9px;
   height: 14px;
   width: 15px;
   transform: translate(0px);
   transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
    transform: translateX(24px);
}

.fa-moon {
    color:#004ffa ;
}

.fa-sun {
    color: #f1bb07;
}

header {
    background: #333;
    color: #ffffff;
    padding: 1rem 0;
}

header .container {
    width: 80%;
    margin: 0 auto;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
    text-align: center;
    
}

nav ul {
    list-style: none;
    padding: 0;
    
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
}

section {
    padding: 2rem 0;
    background-color:#ffffff
}

.container {
    width: 80%;
    margin: 0 auto;
}

h2 {
    border-bottom: 2px solid #2e2b2b;
    padding-bottom: 10px;
    margin-bottom: 20px;
    text-shadow: 2px, 2px, 20px;
    font-size: 45px;
    

}

.projeto {
    margin-bottom: 20px;

    
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-bottom: 5px;
    
    
}

form input, form textarea {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    
}

form button {
    background: #333;
    width: 75px;
    height: 50px;
    color: #ffffff;
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
    text-shadow: #333;
    display: center
}

form button:hover {
    background: #333;;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    background-color: #333;
}

#primeiro {
    font-size: 20px;
}

#imagem-grupo {
    width: 20%;
    height: 20%;
    display: block;
    margin-right: auto;
    margin-left: auto;
    border-radius: 50%;
    box-shadow: 0 15px 25px rgba(0,0,0,0.6);
}
/* Hover de botões Os dois abaixo! */
.botoes {
    color: #fff;
    width:150px;
    height:150px;
    transition: transform 0.6s ease-in-out;  
    transition: box-shadow 0.2s ease-in-out;
}
.botoes:hover {
    border: 10px solid rgb(167, 167, 167);
    transform: scale(1.5); 
    box-shadow: 0 5px 15px rgba(0,0,0,0.6);
}

.container{
    width: 100%;
    height: auto;
    display:flex;     
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top:50px;
}

.container-projeto{
    width: 100%;
}

/* Hover dos botões projeto */
#botoes {
    color: #fff;
    width:auto;
    height:auto;
    transition: transform 0.6s ease-in-out;  
    transition: box-shadow 0.2s ease-in-out;
    width: 200px;
    justify-content: center;
    align-items: centers;
}
#botoes:hover {
    border: 10px solid rgb(224, 176, 176);
    transform: scale(1); 
    box-shadow: 0 5px 15px rgba(0,0,0,0.6);
}

.button-project {
    justify-content: center;
    width: 50%;
    height: 200px;
}